$primaryColor: #8169f1;
$secondaryColor: #5747a0;

$primaryTextColor: #333333;
$secondaryTextColor: #495057;
$tertiaryTextColor: #ff847f;

$primaryBgColor: #f0f2f780;
$secondaryBgColor: #f0f2f7;

$setBgImgLinearGradient: linear-gradient(
  to right,
  #501e9c 0%,
  #8169f1 30%,
  #8169f1 30%,
  #a44cee 73%,
  #ff847f 100%
);
